.chat-container {
  display: flex;
  border-radius: 10px;
  /* border: 1px solid black; */
  width: 100%;
  height: auto;
  color: black;
  padding-right: 10px;
}
.chat-container:hover {
  background-color: bisque;
}

.chat-left {
  display: flex;
  padding: 10px;
}

.chat-right {
  padding-top: 10px;
  flex-grow: 1;
}

.chat-right-name {
  font-weight: 600;
  margin-right: 5px;
  font-size: small;
}

.chat-right-time {
  font-weight: 200;
  font-size: smaller;
}

.chat-right-content {
  font-size: small;
}
