.modal-container {
  display: flex;
  width: 700px;
  height: 300px;
}

.modal-left {
  flex: 1;
}

.modal-right {
  flex: 2;
}

.modal-keyword-box {
  margin-right: 12px;
  padding: 15px;
  border-radius: 10%;
  height: 250px;
  box-shadow: rgb(0 0 0 / 30%) 0px 2px 10px;
}

.modal-keyword-title {
  font-size: 2em;
  color: black;
}

.modal-chat {
  overflow-y: scroll;
  height: 100%;
}
